<div class="center__image">
    <%= image_tag defined?(@about_us.image.file) ? @about_us.image : 'photos/4.png' %>
</div>
<div class="center__title">
    <%= @about_us_title %>
</div>
<div class="center__text">
    <%= @about_us_body.html_safe %>
</div>

<script>
    hiddenDiv3.style.display = 'block';
</script>