<div class="about">
    <div class="about__wrapper">
    <div class="about__navigation" id="about__navigation">
      <div class="about__navigation--center" onclick=showCenter()>
        <% unless @about_us_body.nil? %>
          O centru
        <% end %>
      </div>
      <div class="about__navigation--team" onclick=showTeam()>
        <% unless @team.nil? %>
          Tim
        <% end %>
      </div>
      <div class="about__navigation--venues" onclick=showVenues()>
        <% unless @venues.nil? %>
          Prostori
        <% end %>
      </div>
    </div>
    <div class="about__body">
      <div class="about__body--center" id="about__body--center">
        <% unless @about_us_body.nil? %>
          <%= render 'about_us/about' %>
        <% end %>
      </div>
      <div class="about__body--team" id="about__body--team">
        <% unless @team.nil? %>
          <%= render 'about_us/team' %>
        <% end %>
      </div>
      <div class="about__body--venues" id="about__body--venues">
        <% unless @venues.nil? %>
          <%= render 'about_us/venues' %>
        <% end %>
      </div>
    </div>
  </div>
</div>