<header class="header header--small">
	<%= link_to admin_venue_capacity_venues_path(@venue.id), class: "btn btn--back" do %>
		<div class="arrow--left"></div>
	<% end %>

	<div class="header__content">
		<h1>Kapacitet</h1>
    	<p>Uredi kapacitet</p>
	</div>
</header>

<section class="section section--6 section--padded">
	<%= render 'form', post: @capacity_venue %>
</section>


