<header class="header header--small">
	<%= link_to admin_news_articles_path, class: "btn btn--back" do %>
		<div class="arrow--left"></div>
	<% end %>

	<div class="header__content">
		<h1>Novosti</h1>
    	<p>Uredi novost</p>
	</div>
</header>

<section class="section section--6 section--padded">
	<%= render 'form', post: @news_article %>
</section>


