<header class="header header--small">
	<%= link_to admin_links_path, class: "btn btn--back" do %>
		<div class="arrow--left"></div>
	<% end %>

	<div class="header__content">
		<h1>Poveznice</h1>
    	<p>Nova poveznica</p>
	</div>
</header>

<section class="section section--6 section--padded">
	<%= render 'form', post: @link %>
</section>


