<header class="header header--small">
	<%= link_to admin_venues_path, class: "btn btn--back" do %>
		<div class="arrow--left"></div>
	<% end %>

	<div class="header__content">
		<h1>Prostori</h1>
    	<p>Uredi prostor</p>
	</div>
</header>

<section class="section section--6 section--padded">
	<%= render 'form_capacity', post: @venue %>
</section>


