<header class="header header--small">
	<%= link_to admin_post_categories_path, class: "btn btn--back" do %>
		<div class="arrow--left"></div>
	<% end %>

	<div class="header__content">
		<h1>Kategorije objava</h1>
    	<p>Uredi kategoriju</p>
	</div>
</header>

<section class="section section--6 section--padded">
	<%= render 'form', post: @post_category %>
</section>


