<div class="page__error">

  <h1 class="text--center"><%= t('text500') %></h1>
  <p class="text--center"><%= t('error_bottom_text') %> <%= link_to t('our_homepage'), root_path, class: 'link link--underline link--black' %>!</p>

</div>
