.about__wrapper  {
    font-family: $new-font-family;
    color: $white--true;
}

.about__navigation  {
    z-index: 1;
    padding-top: 80px;
    padding-left: 288px;
}

.about__body--venues, .about__body--team  {               // tu mijenjaš
    display: none;
}

.center__title  {
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 64px;
    letter-spacing: normal;
    margin-bottom: 36px;
}

.center__title, .center__text  {
    padding-left: 288px;
    padding-right: 541px;
}

.center__text p  {
    margin: 0;
}

.center__text  {
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
}

.about__body--team  {
    color: black;
    font-family: $new-font-family;
}

.about__body--team h1  {
    font-family: $new-font-family;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 64px;
    letter-spacing: normal;
    color: black;
    padding-left: 288px;
}

.team__image img  {
    right: 0;
    width: 660px;
    width: auto;
}

.about__navigation  {                   
    color: white;                      
}

.about__navigation--button  {
    padding: 0;
    text-transform: uppercase;
    color: $white--true;
    font-size: 14px;
    font-weight: bold; 
    font-stretch: normal; 
    font-style: normal; 
    line-height: 32px;
    letter-spacing: 2px;
    opacity: 40%;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

.team__wrapper button  {
    padding: 0;
    border: none;
    background: none;
}

.team__role  {
    color: rgba(35, 31, 32, 0.6);
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal; 
    font-style: normal;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.team__name button  {
    margin-top: 24px;
    font-family: $new-font-family;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: right;
    color: rgba(35, 31, 32, 0.4);
    width: 264px;
}

.team__content  {
    padding-right: 828px;
}

.team__bio  {
    margin-top: 36px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    color: #2c2627;
}

.about__body--venues  {
    color: black;
    font-family: $new-font-family;
} 

.about__body--venues h1  {
    font-family: $new-font-family;
    font-size: 48px;    
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 64px;
    letter-spacing: normal;
    color: black;
    padding-left: 288px;
    margin-bottom: 0;
}

.venues__image img  {
    width: auto;
    position: static;
}

.venues__places button  {
    font-family: $new-font-family;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: right;
    color: rgba(35, 31, 32, 0.4);
    background-color: $white--true;
    padding: 0;
    width: 127px;
}

.venues__capacity  {
    background-color: #f5f5f5;
    padding: 10px 20px 10px 20px;
    font-family: $new-font-family;
    font-size: 16px;
    font-weight: 600; 
    font-stretch: normal;
    font-style: normal; 
    line-height: 1.75; 
    letter-spacing: normal;
    color: black;
    margin-bottom: 28px;
}

.capacity__value  {
    text-align: right;
}

.venues__bio  {
    padding-right: 828px;
}

.venues__flex  {
    padding-left: 140px;
}

.venues__description p  {
    font-family: $new-font-family;
    font-size: 16px;
    font-weight: normal; 
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;  
    letter-spacing: normal;  
    color: black;
}

.venues__bio h3  {
    color: rgba(35, 31, 32, 0.6);
    font-family: $new-font-family;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
}
