.contact  {
    color: black;
    font-family: $new-font-family;
    padding-top: 176px;
    padding-right: 252px;
}

.contact h1  {
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal; 
    font-style: normal;
    line-height: 64px;
    letter-spacing: normal;
}

.address__title, .phone__title, .email__title, .message__title  {
    text-transform: uppercase;
    color: rgba(35, 31, 32, 0.6);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: -1px;
} 

.address__text, .phone__text, .email__text  {
    color: #231f20;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
}

.contact a  {
    text-decoration: none;
    color: #231f20;
}

.message__name::placeholder, .message__email::placeholder, .message__text::placeholder, .message__submit  {
    font-family: $new-font-family;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal; 
    line-height: 32px; 
    letter-spacing: normal;  
    color: #353535;
}

.message__name, .message__email, .message__text  {
    border: solid 1px black;
    border-radius: 0;
    width: 408px;
}

.message__submit  {
    background-color: black;
    color: $white--true;
    font-weight: bold;
    height: 48px;
    width: 120px;
    text-transform: uppercase;
    border-radius: 0;
}

.message__title  {
    margin-bottom: 21px;
}