.events  {
    color: $white--true;
    z-index: 1;
    font-family: $new-font-family;
}

.events a  {
    text-decoration: none;
}

.events img  {
    z-index: -1;
    opacity: 0;
}

.is-active img {
    opacity: 1;
}

.js-glide  {
    color: $white--true;
    max-width: 1380px;
}

.tickets__button  {
    color: $white--true;
    margin-left: 288px;
    text-transform: uppercase;
    border-radius: 0;
    height: 48px;
    font-family: $new-font-family;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: 2px;
    color: black;
    margin-top: 56px;
}

.all__events  {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: $white--true;
    padding: 0;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

.all__events--text  {
    padding-right: 5px;
}

.all__events:hover  {
    background-color: #9f9f9f;
}

.events__start-date--icon img  {
    object-fit: contain;
    height: 20px;
    width: 60px;
    position: static;
}

.events__start-time svg  {
    width: 56px;
    height: 16px;
    object-fit: contain;
}

.events__start-date--text, .events__start-time--text  {
    font-family: $new-font-family;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: $white--true;
}

.events__type  {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: 2px;
    text-align: right;
    color: $white--true;
    text-transform: uppercase;
}

.events__content a  {
    text-decoration: none;
}

.events__headline h1 a  {
    font-family: $new-font-family;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33; 
    letter-spacing: normal;
    color: $white--true;
    padding-right: 252px;
}

.events__description  {
    font-family: $new-font-family;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
}

.events__top--wrapper  {
    background-color: $white--true;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $new-font-family;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 0;
}

.events__top--wrapper:hover  {
    background-color: #9f9f9f;
    color: black;
}

.events__all--wrapper  {
    color: black;
    font-family: $new-font-family;
}

.wrapper__triangle--left  {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    border-color: transparent #1a1a1a transparent transparent;

}

.wrapper__triangle--right  {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #1a1a1a;
}

.wrapper__triangle--down  {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #1a1a1a transparent transparent transparent;
}

.wrapper__date  {
    margin-right: 92px;
}

.wrapper__filter--text  {
    margin-left: 92px;
}

.wrapper__edge  {
    padding-right: 108px;
}

.wrapper__header  {
    margin-top: 57px;
    margin-bottom: 12px;
}

.wrapper__item--type  {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: 1.5px;
    text-align: right;
    font-family: $new-font-family;
    color: rgba(35, 31, 32, 0.6);
    text-transform: uppercase;
    margin-right: 32px;
    width: 90px;
    text-align: right;
}

.wrapper__item--tickets a  {
    text-decoration: none;
    font-family: $new-font-family;
    color: $white--true;
    border-radius: 0;
    height: 48px;
    font-weight: bold;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
}

.wrapper__item--name a  {
    font-family: $new-font-family;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal; 
    font-style: normal;  
    line-height: 1.52;
    letter-spacing: normal;
    color: #231f20;
}

.wrapper__item--date  {
    margin-right: 102px;
}

.wrapper__item--time  {
    margin-right: 54px;
}

.wrapper__item--tickets  {
    margin-left: auto;
}
