/*------------------------------------*\
# LAYOUT
\*------------------------------------*/

.layout {

   &--text {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint ($large) {
      padding-left: 0;
      padding-right: 0;
      max-width: $text-width;
    }
  }

  &--main {
    width: 100%;
    //max-width: calc(305/375*100vw);
    margin-left: auto;
    margin-right: auto;
    max-width: 91.5rem;;

    @include breakpoint ($large) {
      //max-width: calc(1512/1920*100vw);
    }

  }

  &--full {
    width: 100%;
    @include breakpoint ($large) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  

  &--padded {
    padding-top: $gutter;
    padding-bottom: $gutter;

    @include breakpoint ($medium) {
      padding-top: 2 * $gutter;
      padding-bottom: 2 * $gutter;
    }
  }

  &--padded--double {
    padding-top: $gutter;
    padding-bottom: $gutter;

    @include breakpoint ($medium) {
      padding-top: 4 * $gutter;
      padding-bottom: 4 * $gutter;
    }
  }

  &--soft-horizontal-pad {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.subsection {
  margin-bottom: $gutter;
}

.section {
  margin-bottom: $gutter;

  @include breakpoint ($medium) {
    margin-bottom: 2 * $gutter;
  }
}

.section--double {
  margin-bottom: 2 * $gutter;

  @include breakpoint ($medium) {
    margin-bottom: 4 * $gutter;
  }
}

.section--dark {
  background-color: $black;
  color: $color-primary;
}




/*------------------------------------*\
# FLEX
\*------------------------------------*/

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

// .: Align items :.

.flex-align--start {
  align-items: flex-start;
}

.flex-align--center {
  align-items: center;
}

.flex-align--end {
  align-items: flex-end;
}

.flex-align--stretch {
  align-items: stretch;
}

// .: Justify content :.

.flex--start {
  justify-content: flex-start;
}

.flex--center {
  justify-content: center;
}

.flex--end {
  justify-content: flex-end;
}

.flex--stretch {
  justify-content: stretch;
}

.flex--between {
  justify-content: space-between;
}

.flex--around {
  justify-content: space-around;
}

.flex--evenly {
  justify-content: space-evenly;
}

// .: Wrap :.

.flex--wrap {
  flex-wrap: wrap;
}

.flex--nowrap {
  flex-wrap: nowrap;
}

// .: Directions :.

.flex--row {
  flex-direction: row;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
}

.flex--column-reverse {
  flex-direction: column-reverse;
}

// .: Gutters & Cells :.

.flex--gutters {
  margin-left: calc( #{$gutter} / -2 );
  margin-right: calc( #{$gutter} / -2 );
}

.flex--gutters > .cell {
  padding-left: calc( #{$gutter} / 2 );
  padding-right: calc( #{$gutter} / 2 );
}

.flex--gutters--double {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.flex--gutters--double > .cell {
  padding-left: $gutter;
  padding-right: $gutter;
}

.cell {
  box-sizing: border-box;
}

.cell--auto {
  flex: 1;
}

@for $i from 1 through 12 {
  .cell--#{$i} {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( #{$i} / 12 ) )
  }
}

@each $key, $value in $breakpoints {
  @include breakpoint ($value) {
    @for $i from 1 through 12 {
      .cell--#{$i}--#{$key} {
        flex-shrink: 0;
        flex-grow: 0;
        width: calc( 100% * ( #{$i} / 12 ) )
      }
    }
  }
}

/*------------------------------------*\
# CSS GRID
\*------------------------------------*/

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-column-gap: $gutter*0.9375;

  @include breakpoint($large) {
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-column-gap: $gutter*1.5;
  }

  &--center {
    align-items: center;
  }
}

.grid--gutters {
    grid-row-gap: $gutter*1.75;
}

.grid--no-gutters {
  grid-column-gap: 0;
}

@each $key, $value in $breakpoints {
  @include breakpoint ($value) {
    @for $i from 1 through 12 {
      .col--#{$i}--#{$key} {
        grid-column: auto/span #{$i};
      }
    }
  }
}

//to make col first in the row add class .col--start
@each $key, $value in $breakpoints {
  @include breakpoint ($value) {
    @for $i from 1 through 12 {
      .col--start.col--#{$i}--#{$key} {
        grid-column: 1/span #{$i};
      }
    }
  }
}

/*------------------------------------*\
# DEV SERVER NOTICE
\*------------------------------------*/


.dev-server-notice{
  position: fixed;
  bottom: -100px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: $color-alert;
  color: white;
  font-weight: 800;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease-out;
  z-index: 99;
  .close--wrapper{
    height: 100%;
    margin-right: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 18px;
      height: 18px;
    }
  }
  &.float-up{
    transform: translate(-50%, -100px);
  }
  p{
    margin: 0;
    padding: 0.5rem;
  }
}


/*------------------------------------*\
# JA
\*------------------------------------*/

.navigation__header  {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.navigation__header--socials  {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.navigation__links  {
  display: flex;
  flex-direction: column;
}

.sidebar__wrapper  {
  display: flex;
  flex-direction: row;
}

.body__wrapper  {
  display: flex;
  justify-content: space-between;
}

.notifcation__area  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation__links--big, .navigation__links--small  {
  display: flex;
  flex-direction: column;
}

.legal-links  {
  display: flex;
  flex-direction: column;
}

.navigation__header--legals  {
  display: flex;
  flex-direction: column;
}

.navigation__header--event  {
  display: flex;
  flex-direction: row;
  margin-bottom: 162px;
  gap: 10px;
  align-items: center;
}

.navigation__rectangle  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification__event--top  {
  display: flex;
  flex-direction: column;
}

.notification__event--bottom  {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.upcoming-events__flex  {
  display: flex;
  flex-direction: row;
  gap: 39px;
  align-items: center;
}

.contact__wrapper  {
  display: flex;
  flex-direction: row;
  gap: 203px;
}

.contact__information  {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contact__information--address, .contact__information--phone, .contact__information--email   {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about__navigation  {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 64px;
  padding-bottom: 64px;
}

.about__body img  {
  position: absolute;
  top: 0;
  z-index: -1;
}

.team__wrapper  {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team__name  {
  display: flex;
  flex-direction: column;
}

.venues__image  {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  top: 0; 
  right: 0;
}

.venues__image img:nth-of-type(1)  {
  grid-area: 1 / 1 / 2 / 2;
}

.venues__image img:nth-of-type(2)  {
  grid-area: 1 / 2 / 2 / 3; 
}  

.venues__image img:nth-of-type(3)  {
  grid-area: 2 / 1 / 3 / 3;
}


.venues__places  {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.venues__places button:nth-of-type(1)  {
  order: 1;
}

.venues__places button:nth-of-type(2)  {
  order: 5;
}

.venues__places button:nth-of-type(3)  {
  order: 2;
}

.venues__places button:nth-of-type(4)  {
  order: 3;
}

.venues__places button:nth-of-type(5)  {
  order: 4;
}

.venues__places button:nth-of-type(6)  {
  order: 6;
}

.venues__places button:nth-of-type(7)  {
  order: 7;
}

.venues__places button:nth-of-type(8)  {
  order: 8;
}

.venues__flex  {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 82px;
}

.venues__bio  {
  display: flex;
  flex-direction: column;
}

.venues__capacity  {
  display: flex;
  flex-direction: column;
}

.capacity  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all__events  {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.all__events--wrapper  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 57px;
  padding-right: 103px;
}

.events__start  {
  display: flex;
  flex-direction: row;
  padding-left: 288px;
  margin-top: 160px;
  gap: 50px;
}

.events__start-date  {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.events__start-time  {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.events__content--flex  {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 157px;
  gap: 24px;
  margin-top: 48px;
}

.events__content  {
  display: flex;
  flex-direction: column;
}

.events__description  {
  padding-left: 288px;
}

.glide__bullets  {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 104px;
  top: 327px;
  gap: 6px;
}

.glide__bullet  {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
}

.events__top--wrapper  {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.events__top  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 57px;
  padding-right: 108px;
}

.public-procurements__nav  {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.public-procurements__nav--top  {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 83px;
}

.public-procurements__item  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 64px;
  align-items: center;
}

.public-procurements__flex  {
  display: flex;
  flex-direction: column;
}

.public-procurements  {
  display: flex;
  flex-direction: column;
}

.news__all  {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.news__all--wrapper  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 57px;
  padding-right: 103px;
}

.news__start  {
  display: flex;
  flex-direction: row;
  padding-left: 288px;
  margin-top: 160px;
  gap: 50px;
}

.news__start-date  {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.news__start-time  {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.news__content--flex  {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 157px;
  gap: 24px;
  margin-top: 48px;
}

.news__content  {
  display: flex;
  flex-direction: column;
}

.news__description  {
  padding-left: 288px;
}

.news__top--wrapper  {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.news__top  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 57px;
  padding-right: 108px;
}

.news--wrapper  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.events__all--wrapper  {
  display: flex;
  flex-direction: column;
}

.wrapper__header  {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.wrapper__content  {
  display: flex;
  flex-direction: column;
}

.wrapper__item  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper__item--tickets a  {
  text-decoration: none;
  font-family: $new-font-family;
  color: $white--true;
  border-radius: 0;
  height: 48px;
  font-weight: bold;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 32px;
  letter-spacing: normal;
}