.notification__area  {
    position: relative;
    // max-width: 1380px;
}

.notification__area img  {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.notification__event--title, .notification__event--text  {
    z-index: 1;
}

.notification__event--image  {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.notification__event--wrapper  {
    font-family: $new-font-family;
    color: $white--true;
    position: relative;
    top: 220px;
    padding-left: 289px;
    padding-right: 251px;
}

.notification__event--title  {
    font-size: 128px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 128px;
    letter-spacing: -8px;
    color: var(--white);
}

.notification__event--text  {
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
    color: var(--white);
    margin-top: 35px;
}

.notification__event  {
    position: relative;
}

.upcoming-events__title  {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold; 
    font-stretch: normal;  
    font-style: normal;
    line-height: 32px; 
    letter-spacing: 1.43px;  
    color: var(--white);
}

.upcoming-events__flex  {
    font-size: 16px;
    font-weight: normal; 
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
    text-align: right;
    color: var(--white);
}

.notification__event--link a  {
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
}