.navigation--header  {
    background-color: $white--true;
    padding: 56px 108px 56px 108px;
}

.navigation--header a  {
    text-decoration: none;
}

.sidebar  {
    padding: 0;
}

.nav--desktop  {
    padding: 0;
    width: auto;
    height: auto;
}