<header class="header header--small">
	<%= link_to admin_documents_path, class: "btn btn--back" do %>
		<div class="arrow--left"></div>
	<% end %>

	<div class="header__content">
		<h1>Dokumenti</h1>
    	<p>Novi dokument</p>
	</div>
</header>

<section class="section section--6 section--padded">
	<%= render 'form', post: @document %>
</section>


