<!-- ### TABS ### -->
<section class="section">
	<h2 class="toolkit__headline">Tabs</h2>
	<section class="subsection">
		<pre><code>
      modules/_tabs.scss
      visitors/tabs.js
    </code></pre>
	</section>
</section>
<!-- ##  ## -->
<!--<section class="section">

  <h3 class="toolkit__subheadline">Tabs secondary</h3>

  <div class="wrapper">

    <div class="tabs--secondary">
      <div class="js-tabs-content tabs__content">
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor inciur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure gna aliqua.
          </p>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ulor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="tabs__navigation">
        <button class="js-tabs-btn btn btn--tab">01</button>
        <button class="js-tabs-btn btn btn--tab">02</button>
        <button class="js-tabs-btn btn btn--tab">03</button>
      </div>
    </div>

  </div>

</section>-->
<!-- ##  ## -->
<section class="section">
	<h3 class="toolkit__subheadline">Tabs Tertiary</h3>
	<div class="wrapper">
		<div class="tabs--tertiary">
			<div class="tabs__navigation">
				<button class="js-tabs-btn btn btn--tab">O centru</button>
				<button class="js-tabs-btn btn btn--tab">Tim</button>
				<button class="js-tabs-btn btn btn--tab">Prostori</button>
			</div>
			<div class="js-tabs-content tabs__content">
				<div>
					<div class="section--double">
						<h1 class="text--medium">O centru</h1>
					</div>
				</div>
				<div>
					<div class="section--double">
						<h1 class="text--medium">Tim</h1>
						<div id="js-team" class="tabbr">
							<div data-title="Ivan Kristijan Majić">
								<div class="team-item">
									<div class="team-item__image">
										<%= image_tag 'dummy/photo_1.jpg' %>
									</div>
									<span class="team-item__role">Ravnatelj</span>
									<h2 class="section team-item__name">Ivan Kristijan Majić</h2>
									<div class="team-item__description">
										<p>Osmislio je ove godine osvijetljene zgrade u Tvrđi za trajanja manifestacije HeadOnEast u sklopu Dana hrvatskog turizma, a čime je, javnost ocjenjuje, podignuta letvica u organizaciji događanja u Osijeku. </p>
										<p>
											Nema gotovo jedne osobe iz Osijeka koja nije ostala oduševljena osvjetljenjem zgrada u Tvrđi, isto fotografirala i podijelila na društvenim mrežama.</p>
									</div>
								</div>
							</div>
              <div data-title="Pero Perić">
								<div class="team-item">
									<div class="team-item__image">
										<%= image_tag 'dummy/photo_1.jpg' %>
									</div>
									<span class="team-item__title">Ravnatelj</span>
									<h2 class="section team-item__name">Pero Perić</h2>
									<div class="team-item__description">
										<p>Osmislio je ove godine osvijetljene zgrade u Tvrđi za trajanja manifestacije HeadOnEast u sklopu Dana hrvatskog turizma, a čime je, javnost ocjenjuje, podignuta letvica u organizaciji događanja u Osijeku. </p>
										<p>
											Nema gotovo jedne osobe iz Osijeka koja nije ostala oduševljena osvjetljenjem zgrada u Tvrđi, isto fotografirala i podijelila na društvenim mrežama.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="section--double">
						<h1 class="text--medium">Prostori</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
