<div class="legal-links">
    <%= active_link_to 'Pravila privatnosti', pravila_privatnosti_path, class_active: 'nav__link--active' %>
    <%= active_link_to 'Impresum', impresum_path, class_active: 'nav__link--active' %>
    <%= active_link_to 'GDPR', gdpr_path, class_active: 'nav__link--active' %>
</div>
